.contact_links {
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: black;
    margin: 0 0 8vh 0;
    padding: 2vh 0;
    box-shadow: 0 2vh 3vh #333;
}


.flex_justify {
    display:flex;
    justify-content: center;
}

#row_break {
    margin-right: 2vw;
}

.contact_links a {
    margin: 0 2vw 0 0;
    width: calc(100vw / 7);
    height: calc(100vw / 7);
    max-width: 7vh;
    max-height: 7vh;
}

.contact_links a:last-child {
    margin-right: 0;
}

.back_to_mainpg {
    position: fixed;
    top: 11vh;
    left: 0;
    text-align: center;
    display: block;
    font-size: calc(2vh + 3vw);
    background: white;
    color: black;
    width: 15vw;
    height: 15vw;
    z-index: 1;
}

.back_to_mainpg img {
    position: relative;
    height: 100%;
    width: 50%;
}

.back_to_mainpg span {
    display: none;
}

.job_flex_container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 14.2vh;
}

.job_flex_container > a, .job_flex_container > article {
    width: 90%;
    margin:0 auto 10vw auto;
    background: #111;
}

.job_flex_container article aside {
    background-position: left center;
    height:38vh;
}

.job_flex_container a aside {
    background-position: left top;
    height:27.4vh;
}

.job_flex_container a aside, .job_flex_container article aside {
    width:100%;
    background-size: 100%;
    background-color: #fff;
}

#playmatch_img {
    background-image: url('../assets/jobs/playmatch.jpg');
} #planilhacessivel_img {
    background-image: url('../assets/jobs/planilhacessivel.jpg');
} #benorale_img {
    background-image: url('../assets/jobs/benorale.JPG');
} #estacao_hack_img {
    background-image: url('../assets/jobs/estacao_hack.jpg');
} #github_img {
    background-image: url('../assets/jobs/github.jpg');
} #fibonacci_img {
    background-image: url('../assets/jobs/fibonacci.jpg');
}

#estacao_hack_cover_img {
    background-image: url('../assets/jobs/estacao-hack/eh2.jpg');
}

.job_flex_container h2, .job_flex_container h3, .keywords {
    margin-left: 4vw;
    padding-right: 7vw;
}

.job_flex_container h2 {
    font-size: calc(3vh + 2vw);
    margin-top: 5vw;
    margin-bottom: 3vw;
    line-height: calc(3.5vh + 2vw);
}

.job_flex_container h3 {
    font-size: calc(1.5vh + 2vw);
    margin-bottom: 3vw;
    font-weight: 300;
}

.keywords {
    margin-bottom: 3vw;
}

.keywords span {
    background: #000;
    padding: 0.5vw 3vw;
    font-size: calc(1.2vh + 1vw);
    margin-right: 1vw;
    margin-bottom: 1vw;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.3vw;
}

.post_content {
    width: 90%;
    margin: 0 auto 10vw auto;
}

.post_content p, .post_content a {
    font-size: calc(1vh + 3.5vw);
    margin-bottom: 5vw;
}

.post_content p, .post_content ul li {
    text-align: justify;
    color: #BBB;
}

.post_img {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5vw;
    object-fit: contain;
    max-width: 100%;
}

.post_content a {
    background: ghostwhite;
    padding: 1.5vw 0;
    display: block;
    max-width: 65%;
    margin: 0 auto 5vw auto;
    border-radius: 0.5vh;
    text-align: center;
    color:#111;
    font-weight: 400;
}

.post_content h3, .post_content h4 {
    margin-bottom: 4vh;
}

.post_content h3 {
    line-height: calc(4vh + 3.5vw);
    font-size: calc(2vh + 3.5vw);
    text-align: center;
}

.post_content h4 {
    font-size: calc(1vh + 3.5vw);
    background: rgba(255,255,255,0.1);
    padding: 2vw 4vw;
    box-sizing: unset;
}

.post_content ul li {
    font-size: calc(1vh + 3.5vw);
    line-height: calc(2vh + 3.5vw);
    margin-bottom: 2vh;
}

.iframe_ctnr {
    width: 90%;
    margin: 0 auto 5vw auto;
}

iframe {
    width: 100%;
    height: 62vw;
}


.divisor {
    width: 100%;
    height: 0.2vh;
    background: white;
    margin: 10vh 0;
}













































@media (min-width:123vh) {

    .back_to_mainpg {
        font-size: calc(2vh + 1vw);
        line-height: 9vh;
        text-align: left;
        width: auto;
        padding: 0 10% 0 13%;
        background: rgba(17, 17, 17, 0.9);
        transition: background 0.3s ease-out;
        height: unset;
        color: unset;
        z-index: unset;
        top: 2vh;
    }
    .back_to_mainpg:hover {
        background:#222;
    }

    .back_to_mainpg img {
        display: none;
    }
    .job_flex_container {
        flex-flow: row wrap;
        margin-top: 14.2vh;
        align-items: start;
        padding: 0 5vw;
        justify-content: space-between;
    }
    .job_flex_container > a {
        width: 47.5%;
        position: relative;
    }
    .job_flex_container > a::after {
        content: '';
        position: absolute;
        bottom: 0vh;
        width: 100%;
        height: 0.5vh;
        z-index: -1;
        box-shadow: 0 1vh 7vh 2vh #444;
        border-radius: 100%;
        background: #444;
    }
    .job_flex_container > article {
        width: 100%;
    }
    .job_flex_container a aside {
        background-size: 50%;
    }
    .job_flex_container article aside {
        background-size: 90%;
        background-position: center;
    }
    .job_flex_container > a, .job_flex_container > article {
        transition:background 0.3s ease-out;
        margin: 0 0 10.5vh 0;
        box-shadow: none;
        background:#0A0A0A;
    }
    .job_flex_container a aside, .job_flex_container article aside {
        background-attachment: fixed;
    }
    .job_flex_container h2, .job_flex_container h3, .keywords {
        margin-left: 4vh;
        padding-right: 4vh;
    }
    .job_flex_container h2 {
        font-size: calc(2.5vh + 1vw);
        margin-top: 3vh;
        margin-bottom: 1vh;
        line-height: calc(3vh + 1vw);
    }
    .job_flex_container h3 {
        font-size: calc(0.5vh + 1vw);
        margin-bottom: 3vh;
        font-weight: 300;
    }

    .author {
        margin-left: 7vh;
    }
    
    .job_flex_container > a:hover {
        background:#1A1A1A;
    }

    .contact_links {
        display: inline-flex;
        margin: 3vh 5vh 0 62vw;
        padding: unset;
        box-shadow: unset;
        justify-content: inherit;
        background: none;
    }

    .contact_links::after {
        content: '';
        position: absolute;
        bottom: 62%;
        right: -20vh;
        width: 70vw;
        height: 0.2vh;
        background: linear-gradient(-90deg,white, transparent);
        z-index: -1;
    }

    .selected_line {
        width:62%;
        height:0.38vh;
        background:white;
        transform:scaleX(0);
        transition:0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transform-origin: left;
    }

    .job_flex_container > a:hover .selected_line {
        transform:scaleX(1);
        transition-delay: 0.4s;
    }

    .keywords {
        margin-bottom: 1vh;
    }

    .keywords span {
        font-size: 2vh;
        padding: 0.5vh 1vh;
        letter-spacing: 0.1vh;
        margin-right: 0.5vh;
        margin-bottom: 1vh;
        transition: background 0.3s ease;
    }

    .keywords span:hover {
        background: #111;
    }
    .post_content {
        margin: 0 auto 5vh auto;
    }
    .post_content p, .post_content a {
        margin-bottom: 4vh;
        line-height: calc(22px + 0.5vw);
    } .post_content p {
        font-size: calc(12px + 0.6vw);
        cursor: default;
    }
    .great_img {
        max-width: 100%;
    } .big_img {
        max-width: 100%;
    } .med_img {
        max-width: 62%;
    } .side_img {
        max-height: 90vh;
    }
    .post_img {
        margin-bottom: 10vh;
        width: unset;
    }

    .img_shadow {
        box-shadow: 0 1vh 7vh #223;
    }

    .side_img {
        margin: 0 10vh 5vh 0;
        min-width: 38%;
    }

    .img_p_flex {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
    }

    .post_content a {
        margin: 0 2vh 4vh 0;
        padding: 1vh 5vh;
        display: inline-block;
        transition: background 0.3s ease;
        text-transform: uppercase;
        font-size: calc(4px + 0.6vw);
        letter-spacing: 0.4vh;
    }

    .post_content a:hover {
        background: #aaa;
    }

    .post_content h3 {
        font-size: calc(20px + 0.6vw);
        line-height: calc(30px + 0.6vw);
    }

    .post_content h4 {
        font-size: calc(10px + 0.6vw);
        line-height: calc(20px + 0.6vw);
        padding: 1vh 4vh;
    }

    .post_content ul li {
        font-size: calc(10px + 0.6vw);
        line-height: calc(20px + 0.6vw);
    }
    
    .iframe_ctnr {
        width: 100%;
        background: #111;
        margin: 0 auto 5vh auto;
    }

    iframe {
        width: 50%;
        height: 62vh;
        margin: 0 auto;
        display: block;
    }

    .job_cover > article {
        margin-bottom: calc(1vh + 2vw);
    }

    
    .post_content h3 {
        padding-right: 5vh;
        text-align: left;
    }

    
    .back_to_mainpg span {
        display: block;
    }

}